* {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    * {
        font-size: small;
         text-align: center;
    }
    .container {
        align-content: center;
    }
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: medium;
}

header {
    background: #c00101;
    color: white;
    text-align: center;
    padding-top: 3%;
    min-height: 10%;
    border-bottom: coral 3px solid;
}

.container {
    justify-content: center;
}

#ohjeistus {
    padding-top: 3%;
    text-align: center;
}

#otsikko {
    text-align: center;
    color: white;
    background-color: rgb(190, 0, 0);
    padding-top: 30px;
    padding-bottom: 3px;
    border-bottom: 5px rgb(255, 108, 97) solid;
}